body {
	margin: 0;
	padding: 0;
	background-color: #f7f5fa;
}

h1 {
	font-family: 'Piedra', cursive;
	margin-bottom: 30px;
}

h2 {
	font-family: 'Piedra', cursive;
}

h3 {
	font-family: 'Piedra', cursive;
}

.beta {
	font-family: 'Sacramento', cursive;
	font-size: 1.2em;
	font-style: italic;
}

.h1-title {
	font-size: 48px;
	margin-bottom: 0px;
}

.title1 {
	font-family: 'Trade Winds', cursive;
	font-size: 1em;
}

.title2 {
	font-family: 'Sacramento', cursive;
	font-size: 1.5em;
}

.content {
	margin: 0 100px 0 100px;
	padding: 20px 50px 20px 50px;
	box-shadow: 0px 0px 30px 10px rgba(50, 50, 50, 0.75);
	background-color: #fdfdfd;
}

/* Paragraph styles */

.footnote {
	font-size: 0.9em;
}

.admin {
	font-size: 1.2em;
	margin-top: 10px;
	margin-bottom: 10px;
}

.action {
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px 20px;
	border: 2px solid #000000;
	border-radius: 15px;
	background-color: #f0f9ff;
}

.byline {
	font-size: 1.1em;
	font-style: italic;
	margin-bottom: 20px;
}

.info {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 1.2em;
}

.balthazar {
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 70px;
	font-family: 'Aclonica', sans-serif;
}

.you {
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 70px;
	font-size: 1.1em;
}

/* Text styles */

.goto {
	font-weight: bold;
	color: #ffffff;
	background-color: #428bca;
	border-radius: 20px;
	border-color: #357ebd;
	padding: 3px 10px;
}
.goto:hover,
.goto:focus,
.goto:active {
	background-color: #3276b1;
	border-color: #285e8e;
}

.name {
	float: left;
	color: #606060;
	width: 70px;
	text-align: right;
}

.badge-gain {
	font-weight: bold;
	color: #ffffff;
	background-color: #5cb85c;
	border-radius: 20px;
	padding: 3px 10px;
}

.badge-check {
	font-weight: bold;
}

.stage {
	font-weight: bold;
	color: #ffffff;
	background-color: #5cb85c;
	border-radius: 20px;
	padding: 3px 10px;
}

.code-inline {
	font-family: "Courier New", Courier, monospace;
	font-weight: normal;
}

.code-inline-color {
	font-family: "Courier New", Courier, monospace;
	font-weight: normal;
	background-color: #e7e1ff;
	color: #3c10eb;
	padding: 0 4px;
	border-radius: 5px;
}

.thinking {
	font-style: italic;
	font-size: 0.8em;
}

.small-comment {
	font-style: italic;
	font-size: 0.9em;
}

.figure {
	margin-top: 20px;
	margin-bottom: 20px;
}

.screenshot {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid black;
}

/* Image table styles */

/* Used for screenshots in index.html. */
.image-table {
	display: block;
	padding: 4px;
}

.image-table > img,
.image-table a > img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* Used for screenshots in tables */
.screenshot-small {
	border: 1px solid black;
}

/* Used for table of images in images.html. */
.image-table td {
	text-align: center;
	vertical-align: bottom;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

/* Code formatting */

.context, .indent {
	margin-left: 30px;
	border-left: 1px dotted #808080;
	padding: 0;
	padding-left: 5px;
	color: #c0c0c0;
}

.add, .delete {
	margin-left: 15px;
	border-left: 1px dotted #808080;
	padding: 0;
	padding-left: 5px;
}

.add {
	color: #0000e0;
}

.delete {
	text-decoration: line-through;
	color: #404040;
}

/* Book panels */

.panel-book-header {
	padding: 2px 15px;
	background-color: #d9edf7;
	border-bottom: 1px solid #dddddd;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-family: 'Piedra', cursive;
	font-size: 1.6em;
	color: #000000;
}

.panel-bookinfo {
}

.bookinfo {
	margin: 8px 0;
}

.bookinfo-data {
	margin: 0;
	font-size: 0.8em;
}

.bookinfo-data-label {
	font-weight: bold;
}

.bookinfo-data-text {
}

.bookinfo-row {
	margin: 10px 0;
}

/* Bootstrap panel extras for showing code. */

.panel-code {
	display: block;
	font-family: monospace;
	line-height: 130%;
	font-size: 11pt;
	background-color: #ffffff;
	border-color: #808080;
	padding: 15px;

	white-space: pre;
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
}

.panel-code img {
	float: left;
}

.panel-code-header {
	padding: 2px 15px;
	background-color: #d9edf7;
	border-bottom: 1px solid #dddddd;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	font-size: 0.9em;
	font-style: italic;
	color: #000000;
}

.panel-code-header-filename {
	font-family: "Courier New", Courier, monospace;
	font-size: 0.9em;
	font-style: normal;
	font-weight: bold;
	color: #000000;
}

.panel-code-footer {
	padding: 2px 15px;
	background-color: #d9edf7;
	border-top: 1px solid #dddddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	font-size: 0.9em;
	font-style: italic;
	color: #808080;
}

/* Bootstrap overrides */

/* Extra whitespace around alerts. */
.alert {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Extra whitespace around code panels. */
.panel {
	margin-top: 30px;
	margin-bottom: 30px;
}

/* This makes single-paragraph list items have the same spacing
   as no-paragraph list items. Otherwise single-paragraph list items
   will have extra space on the bottom. */
.list-group-item > p {
	margin-bottom: 0;
}

/* Used in file copy alert. */
.alert > p + ul {
	margin-top: 10px;
}

/* Used for image tables followed by an alert indicating which
   file to copy. */
.row + .alert {
	margin-top: 0px;
}
